@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

* {

  font-weight: 700;
  font-family: Quicksand;
}

body {
  background-color: rgb(29, 29, 29);
  color: white;
}

.login-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-container img {
  height:80px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  min-width: 70%;
  border-radius: 7px;
  background-color: rgba(107, 107, 107, 0.1);
  outline: none;
  border: none;
  color: white;
  transition: all .2s ease;
  box-sizing: border-box;
  margin: 10px 0px;
}

input:focus {
  background-color: rgba(107, 107, 107, 0.2);
}

textarea {
  padding: 10px;
  min-width: 70%;
  border-radius: 7px;
  background-color: rgba(107, 107, 107, 0.1);
  outline: none;
  border: none;
  color: white;
  transition: all .2s ease;
  box-sizing: border-box;
  margin: 10px 0px;
}

textarea:focus {
  background-color: rgba(107, 107, 107, 0.15);
}



button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .2s ease;
  background-color: #92e32e;
}

button:hover {
  filter: brightness(1.2);

}

button:active {
  filter: brightness(0.8);

}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 7px;
}

nav img {
  height: 20px;
}

a {
  vertical-align: middle;
  text-decoration: none;
  color: white;
  transition: all .2s ease;
}

a:hover {
  transform: translateY(-3px);
  color: #92e32e;
}
a:active {
  color: #92e32e;
  transform: translateY(0px);
  filter: brightness(0.8);
}

.active {
  color: #92e32e;
}

.field-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  color: black;
}

.field-container h3, h4 {
  margin-bottom: 10px;
}

.remove-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}


table {
font-family: arial, sans-serif;
border-collapse: collapse;
border-radius: 7px;
border: none;
}

td, th {
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 8px;
    color: black;
}

tr:nth-child(even) {
    background-color: rgba(0,0,0,0.2);
}

#new-member-div {
  display: none;
}

.noti-box {
  color: black;
  border-radius: 9px;
  display: none; 
  position: fixed; 
  z-index: 10;
  bottom: 20px;
  left: 20px;
  max-height: fit-content;
  width: 25%;
  position: fixed;
  background-color: rgba(255, 0, 0, 0.5);
}

.noti-content {
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.noti-content p {
  margin: 0px;
  font-size: 20px;
  line-height: 20px;
}


.tip-div {
  color: black;
  padding: 10px;
  border-radius: 9px;
  background-color: #92e32e;
  margin: 20px 0px;
}

footer {
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 40px;
  text-align: center;
  align-content: center;
  align-items: center;
}

footer p {
  margin: 0 auto !important;
}
progress {
  display: none;
}