.post-div {
    max-width: 40%;
    padding: 20px;
    border-radius: 9px;
    margin: 10px;
    box-shadow: 2px 6px 10px 2px rgba(0,0,0,0.1);
  }

.post-div a {
    cursor: pointer;
    margin: 20px 0px;
}

.post-div img {
    border-radius: 9px;
    margin: 10px 0px;
    max-width: 100%;
}
.new-post-btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 9px;
    background-color: rgb(255, 238, 0);
    padding: 10px;
    cursor: pointer;
    transition: all .2s ease;
}

.new-post-btn:hover {
    transform: translateY(-6px);
}

.new-post-btn img {
    width: 35px;
}

.new-comment-div input {
    margin-right: 10px;
}

.new-post-div {
    display: none;
    width: 100%;
    box-shadow: 2px 6px 10px 2px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 9px;
    margin: 10px 0px;
}

.post-body {
    margin: 10px 0px 10px 0px;
    font-weight: 400;
    word-break: break-all;
}

.post-comments-div {
    display: none;
}

.post-comment-div {
    width: fit-content;
    text-align: left;
    padding: 10px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    box-sizing: border-box;
    margin: 10px 0px;
}

.post-comment-div p {
    font-weight: 400;
    margin: 10px 0px;
    word-break: break-all;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;
    width: 250px;
    height: 20px;
    background-color:  rgb(255, 238, 0);
    border-radius: 9px;
}
  
progress {
    background-color:  rgb(255, 238, 0);
    border-radius: 9px;
}

#feed-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.post-top {
    display: inline-block;
}



@media screen and (min-width: 375px) and (max-width: 890px) {
    /* mobile and tablet css */
    .new-post-btn {
      right: 30px !important;
      bottom: 30px !important;
      padding: 5px;
    }
    .post-div {
      max-width: 100% !important;
      width: 100% !important;
      padding: 20px !important;
      border-radius: 9px !important;
      margin: 10px 0px !important;
    }
    .post-div img {
      border-radius: 9px !important;
      margin: 10px 0px !important;
      width: 100% !important; 
    }
  }

  .post-top img {
    width: 35px !important;
    vertical-align: middle;
    margin-right: 10px;
  }
